[submodule "vk-bootstrap"]
	path = vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "vendor/msdf-atlas-gen"]
	path = vendor/msdf-atlas-gen
	url = git@github.com:Chlumsky/msdf-atlas-gen.git
